.HomeTemplate{
  background: aquamarine;
}

.HomeContentsContainer{
  display: grid;
  grid-template-rows: 1000px 700px 100px;
  grid-auto-columns: 20% 80%;
}

.HomeTemplate .Header{
  position:sticky;
  width: 100%;
  top: 0;
}

.HomeTemplate .UserProfile{
  grid-row: 1/3;
  grid-column: 1;
  height: 100%;
}

.HomeTemplate .WorksDisplay{
  grid-row: 1/3;
  grid-column: 2;
}

.HomeTemplate .Footer{
  grid-row:3/4;
  grid-column: 1/3;
}
