.HomeTemplate{
  background: aquamarine;
  display: grid;
  grid-template-rows: 100px 900px 100px;
  grid-auto-columns: 20% 80%;
}

.Header {
  grid-row: 1;
  grid-column: 1/3;
}

.UserProfile{
  grid-row: 2;
  grid-column: 1;
  height: 100%;
}

.WorksDisplay{
  grid-row: 2;
  grid-column: 2;
}

.Footer {
  grid-row: 3;
  grid-column: 1/3;
}
