.HomeTemplate{
  background: aquamarine;
}

.HomeContentsContainer{
  display: grid;
  grid-template-rows: 1fr auto;
  grid-auto-columns: 20% 80%;
}

.HomeTemplate .Header{
  position:sticky;
  width: 100%;
  top: 0;
}

.HomeTemplate .UserProfile{
  grid-row: 1/2;
  grid-column: 1;
  height: 100%;
}

.HomeTemplate .WorksDisplay{
  min-height: 100vh;
  height: auto;
  grid-row: 1/2;
  grid-column: 2;
}

.HomeTemplate .Footer{
  grid-row:2/3;
  grid-column: 1/3;
}
