.Header{
  background: yellow;
  display: grid;
  grid-auto-columns: 35% 2fr;
}

.site-title-container{
  background-color: cyan;
  height: 100%;
  display: flex;
  align-items: center;
  grid-column: 1/2;
  justify-content: center;
}

.Header .site-title-container .site-title{
  text-decoration: none;
  background: white;
  font-size: 50px;
}

.Header .PostWorkTab-container{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2/3;
}

.Header .site-title-container .PostWorkTab{
  font-size: 25px;
}