.UserProfile{
  background: gray;
}

.UPcontainer {
  background: black;
  padding: 5% ;
  height: 100%;
  box-sizing: border-box;
}

.UPcontainer .UserBaseInfoTab,.UPcontainer .FollowInfoTab, .UPcontainer .UserPostedWorksTab{
  height: 60px;
}

.UPcontainer .LikeWorksTab, .UPcontainer .MessageTab{
  height: 40px;
}
