.WorksDisplay{
  background: rgba(26, 0, 56, 0.979);
}

.WD-container{
  padding: 15px;
  box-sizing: border-box;
  height: 100%;
}

.WD-container .AllWorksDisplay{
  height: 100%;
}

.WD-container .UsersProjects {
  margin-top: 15px;
  height: 0%;

  display: none;
}
