.WorksDisplay{
  background: azure;
}

.WD-container{
  padding: 15px;
  height: 100%;
  background: cadetblue;
}

.WD-container .AllWorksDisplay{
  height: 60%;
}

.WD-container .UsersProjects {
  margin-top: 15px;
  height: 35%;
}
